html
  background-color #233D4D
.App
  font-family 'Montserrat-Light'
  text-align center
  color #45CB85
  text-transform uppercase
  height 100vh
  width 100vw
  background-color #233D4D
  font-size 1.5rem
  display flex
  align-items center
  justify-content center
  letter-spacing 2px
  padding 5%
  box-sizing border-box
  &__container
    flex-direction column
    align-items center
    background-color #233D4D
    z-index 1
    padding 20vh 0
    display flex
    width 100vw
    &__left,
    &__right
      flex-basis 50%
    &__left
      text-align right
      padding-right 10px
      height 220px
      display flex
      align-items flex-end
      justify-content center
      flex-direction column
      box-sizing border-box
      user-select none
      border-bottom 1px solid
      padding-bottom 50px
      &__name
        font-family 'Anton-Regular'
        font-size 4rem
        line-height 2px
        position relative
        margin-top 82px
        &__up
          transition opacity .3s linear
          font-size 6rem
          letter-spacing -3px
          opacity 1
          position relative
          z-index 1
          margin-top 9px
          text-align center
        &__down
          transition opacity .3s linear
          font-size 12rem
          opacity .6
          color #FFE900
          letter-spacing -17px
          position relative
          z-index 2
          margin-right 7px
          margin-top 0px
          span
            transition opacity .3s
            opacity .85
            &:hover
              opacity 1
      &__description
        transition color .3s linear, opacity .3s linear
        margin-top 100px
        font-size 22px
        color #45CB85
        opacity 1
        margin-right -6px
      &:hover
        .App__container
          &__left
            &__name
              &__up
                opacity 0.65
              &__down
                opacity .85
            &__description
              color: #FFE900
              opacity .8
    &__right
      margin 30px 0 20px
      text-align center
      padding 0
      display flex
      align-items center
      flex-direction column
      opacity 1
      font-size 1.2rem
      line-height 30px
      span
        transition letter-spacing .1s linear
        display flex
        align-items center
        color rgba(255, 237, 46, 0.85)
        margin 5px 20px
        cursor pointer
        font-weight inherit
        letter-spacing inherit
        &:first-child
          margin-top 0
          a
            span
              margin-top 0
            span:first-child
              top 2px
        &:last-child
          margin-bottom 0
        a
          display flex
          align-items center
          color inherit
          text-decoration none
          position relative
          span:first-child
            position absolute
            opacity 0
            align-items center
            justify-content center
            margin-left 0
            display flex
            font-size 20px
            top 7px
  @media (min-width: 1025px)
    font-size 2rem
    &__container
      padding 35vh 0
      flex-direction row
      &__left
        border-bottom none
        padding-bottom 0
        margin-right 25px
        &__name
          margin-top 82px
      &__right
        border-left 1px solid #45CB85
        align-items flex-start
        text-align left
        margin 0
        margin-left 20px
        padding-left 10px
        line-height inherit
        span
          a
            span:first-child
              transition opacity .1s ease-out 0s
            span:nth-child(2)
              transition margin-left .2s linear
              margin-left 0
          &:hover
            letter-spacing 3px
            span:first-child
              transition opacity .2s ease-out .1s
              opacity 1
            span:nth-child(2)
              margin-left 30px
@font-face
  font-family 'Anton-Regular'
  src local('Anton-Regular'), url(./fonts/Anton-Regular.ttf) format('truetype')
@font-face
  font-family 'Montserrat-Light'
  src local('Montserrat-Light'), url(./fonts/Montserrat-Light.ttf) format('truetype')
@font-face
  font-family 'alvarokoke'
  src local('alvarokoke'), url(./fonts/alvarokoke.ttf) format('truetype')