html {
  background-color: #233d4d;
}
.App {
  text-align: center;
  color: #45cb85;
  text-transform: uppercase;
  height: 100vh;
  width: 100vw;
  background-color: #233d4d;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
  padding: 5%;
  box-sizing: border-box;
}
.App:before {
  content: '';
  height: 100vh;
  background-color: #45cb85;
  width: 3px;
  display: block;
  position: absolute;
}
.App__container {
  background-color: #233d4d;
  z-index: 1;
  padding: 20vh 0;
}
@media (min-width: 1023px) {
  .App {
    font-size: 2rem;
  }
  .App__container {
    padding: 35vh 0;
  }
}
